/* Header CSS*/
header {
    background-color: #4ecbcf;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}




.headerTop {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 200px;
}

.headerGreeting{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.headerButton{
    height: 80%;
    width: 100%;
    display:  flex;
    flex-direction: row;
    background-color: rgb(100, 140, 158);
    border-radius: 10px;
    border-color:hsl(from blue h s l)
}




